.display-frame{
    height: 100%;
    width: 100%;
}

:root{
    --table-font-size: 2.5em;
}

.scrollable-table, .scrollable-sticky-header{
    /* font-size: 3em; */
    font-size: var(--table-font-size);
    text-align: center;
}

/* left-align only the team names in the various tables, leave other cols centered */
#schedule-display-area > div > .scrollable-table > tbody > tr > td:nth-of-type(3),
.intro-table > tbody > tr > td:nth-of-type(3),
#scores-display-area > div > .scrollable-table > tbody > tr > td:nth-of-type(3),
.other-events-table > tbody > tr > td:nth-of-type(3) {
    text-align: left !important;
}

/* also bold the best score on the scores table */
#scores-display-area > div > .scrollable-table > tbody > tr > td:nth-of-type(4),
.other-events-table > tbody > tr > td:nth-of-type(4) {
    font-weight: bold !important;
}

/* try to ensure there's enough room for the round titles on the scores display */
#scores-display-area > div > .scrollable-table > tbody > tr > td,
#scores-display-area > div > .scrollable-table > thead > th > td,
{
    min-width: 4.3em;
}

.title-bg{
    background-color: white;
}

.display-title{
    text-align: center;
    font-size: 4em;
}

#intro-display-area{
    font-size: var(--table-font-size);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#other-events-display-area{
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}