.display-frame{
    height: 100%;
    width: 100%;
}

:root{
    --table-font-size: 2.5em;
}

.scrollable-table, .scrollable-sticky-header{
    /* font-size: 3em; */
    font-size: var(--table-font-size);
    text-align: center;
}

/* left-align only the team names in the various tables, leave other cols centered */
#schedule-display-area > div > .scrollable-table > tbody > tr > td:nth-of-type(3),
.intro-table > tbody > tr > td:nth-of-type(3) {
    text-align: left !important;
}

.title-bg{
    background-color: white;
}

.display-title{
    text-align: center;
    font-size: 4em;
}

#intro-display-area{
    font-size: var(--table-font-size);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}