body{
    margin: 2em;
    text-align: center;
}

p{
    text-align: left;
}

#this_version, #latest_version{
    font-weight: bold;
}

#update_notes{
    text-align: left;
    font-size: medium;
    background-color: lightgrey;
    padding: 1em;

    overflow-y: scroll;
    max-height: 18em;
}