html {
    font-size: 14px;
    user-select: none;
}

body {
    background-color: slategray;
}

.card, .accordion-body, .accordion-button{
    background-color: #eee;
}

#timer-display {
    text-align: center;
    font-size: 6em;
}

.timer-buttons button {
	font-size: 2em;
}

summary{
    font-size: large;
}

.current-match-block{
    font-size: 3em;
}

#screen-select{
    font-weight: bold;
}

#chroma-color-picker{
    max-width: 10em;
}

.logo-preview{
    max-height: 3em;
}

.logo-draggable-element{
    margin:0.25em;
    background-color: #ddd;
}

#options-btn{
    text-align: left;
    background-color: #eee;
}
#options-btn[aria-expanded=false] > #options-btn-title::before{
    content: "▶ ";
}
#options-btn[aria-expanded=true] > #options-btn-title::before{
    content: "▼ ";
}

#block-teams{
    font-weight: bold;
    text-align: center;
    height: 5ex;
}

.del-slide{
    float:right;
}

#custom-timer-val{
    width: 5em;
}

.slide-img-preview img{
    max-width: 90%;
    margin: 0 auto;
}