:root{
    --chroma-key-color: #0f0;
}

@font-face{
    font-family: ubuntu-mono-bold;
    src: url("../fonts/UbuntuMono-B.ttf");
}

@font-face{
	font-family: digital-7-mono;
	src: url("../fonts/digital-7-mono.ttf");
}

*{
    user-select: none;
}

/* Properties for all the different displays: */
.display-type{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Properties for the none display: */
.none-display{
    background-color: var(--chroma-key-color);
}

/* Properties for the logo display: */
/* .logo-display{
    /* background-color: red; */
/* } */
#logo{
    position: fixed;
    padding: 2em;
    max-width: 90vw;
    height: auto;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    /* border: 1px solid black */
}

/* Properties for different parts of the timer display: */
.timer-display{
    /* background-color: green; */
    text-align: center;
}
.timer-display-chroma{
    background-color:var(--chroma-key-color);
}
.timer-numbers-wrapper{
    margin: auto 0;
    font-size: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.timer-numbers-wrapper-chroma{
    position: fixed;
    top: 5vh;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 5px;
    font-size: 15vw;
    background-color: white;
    margin: 0;
    padding: 0 0.125em;
}
.timer-numbers{
    /* margin: auto 0;
    font-size: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes 
    transform: translate(-50%, -50%); */
}


/* Properties for different parts of the scores display:  */
.scores-display{
    background-color: white;
    /* border: 10px solid maroon; */
}
.scrollable{
    /* overflow: scroll; */
    /* height:100vh; */
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    z-index: -1;
    /* margin: 0 auto; */
    /* border: 1px solid black; */
}
.scrollable > img{
    max-width: 75vw;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #FFF;
}
.scores-table{
    /* font-family: ubuntu-mono-bold; */
    margin: 0 auto;
    /* display: block; */
    /* font-size: 1.5vw; */
    font-size: 2.25em;
    width: 90vw;
    border-collapse: collapse;
    border-spacing: 0;

    /* table-layout: fixed; */
}
tr.table-row-even{
    background-color: #CCC;
}
tr.table-row-odd{
    background-color: #FFF;
}
.table-header{
    top: 0;
    background-color: white;
}
.scores-table td > div {
    margin: 1em auto;
    padding: 0;
    border-width: 0;
}
td{
    padding: 0;
}
.rank{
    font-weight: bolder;
    text-align: center;
}
.team-number{
    text-align: center;
}
.best-score{
    font-weight: bolder;
    text-align: center;
}
.score{
    text-align: center;
}
.team-name{
    text-align: left;
}

.other-events-scores{
    margin: 0 auto;
    max-height: 90vw;
    width: 90vw;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.25em;
    overflow: auto;
}
.other-event-name{
    text-align: center;
}

.display-title{
    position:fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    background-color: white;

    width:100%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;

    
}

.scores-table-header{
    /* position:relative; */
    /* margin-top: 4em; */
    /* padding: 0 auto; */

    position: fixed;
    top: 4em;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    /* padding-top: 1em; */
    border-top: 1em solid white;
}

.scores-table-header > div {
    margin: 1em;
    padding: 0;
    border-width: 0;
}


#next-match{
    position: fixed;
    top: 4em;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1em;
}

#next-match td > div, #schedule-scrollable td > div{
    text-align: center;
}

#next-match div.team-name, #schedule-scrollable div.team-name{
    text-align: left;
}

.match-intro-table{
    
    /* text-align: center; */
    font-size: 2.25em;
    width: 90vw;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 90vw;
}

/* .match-intro-table > tr{
    padding: 0 1em;
} */

.match-intro-table > div{
    margin: 1em auto;
}

.message-text{
    text-align:center;
    /* margin: auto 0; */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vh;
    font-weight: bold;
}