html {
    font-size: 14px;
    user-select: none;
}

body {
    background-color: slategray;
    font-family: serif;
}

.card {
    background-color: #eee;
}

#timer-display {
    text-align: center;
    font-size: 4em;
}

.timer-buttons button {
	font-size: 2em;
}

summary{
    font-size: large;
}